# Environnements virtuels
venv/
venv310/
env/
.env

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Fichiers de résultats
results/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers de cache
.cache/
.pytest_cache/
